//  Colors

$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

$font-base: 'Manrope', sans-serif;   //Weights: 500, 700

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-grayish-blue;
    font-family: $font-base;
    // min-height: 100vh;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.componente-principal {
    width: 20.4375rem;
    margin-top: 4.625rem;
    border-radius: 0.5625rem;
    overflow: hidden;
    margin-bottom: 1rem;
    box-shadow: 0px 20px 15px #dce6f0;
}

.imagen {
    // display: none;
    background-color: white;
    // display: flex; 
    width: 20.4375rem; 
    height: 12.5rem;  
    overflow: hidden;
    position: relative;

    .imagen-principal {
        background-color: white;
        background-image: url('../images/drawers.jpg');
        background-size: contain;
        background-blend-mode:multiply;
        opacity: 0.93;

        width: 20.4375rem;
        height: 16.5rem;
        
        position: absolute;
        top: -17px;
    }
}

.info {
    background-color: white;
    padding: 2.25rem 2rem 1.1575rem 2rem;
    color: $very-dark-grayish-blue;

    .title {
        font-size: 1.03125rem;
        font-weight: 700;
        line-height: 1.45;
        padding-bottom: 0.8125rem;
    }

    .descripcion {
        font-size: 0.8125rem;
        color: $desaturated-dark-blue;
        font-weight: 400;
        line-height: 1.53;
        letter-spacing: 0.01rem;
        padding-bottom: 1.875rem;
    }

    .autor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .compartir {
            background-color: $very-dark-grayish-blue;
            height: 4rem;
            width: 20.4375rem;
            position: absolute;  
            top: -4px;
            left: -2rem;
            opacity: 0;

            .enlaces {
                margin-left: 2.5rem;
                display: flex;
                flex-direction: row;
                margin-top: 1rem;
                list-style: none;
                
                .enlace {
                    margin-right: 0.5rem;
                    font-size: 0.8125rem;

                    .facebook {
                        background-image: url('../images/icon-facebook.svg');
                        background-repeat: no-repeat;
                        margin-left: 2.5rem;
                        cursor: pointer;
                    }
                    .twitter {
                        background-image: url('../images/icon-twitter.svg');
                        background-repeat: no-repeat;
                        margin-left: 0.5rem;
                        margin-top: 2px;
                        cursor: pointer;
                    }
                    .pinter {
                        background-image: url('../images/icon-pinterest.svg');   
                        background-repeat: no-repeat; 
                        margin-left: 0.5rem;
                        cursor: pointer;

                    }
        
                    a {
                        display: block;
                        width: 20px;
                        height: 20px;
                        text-decoration: none;
                        color: $grayish-blue;
                        letter-spacing: 0.2rem;
                        
                    }
                }
                
            }

        }
        .activo {
            opacity: 1;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .autor-info {
            margin-left: -2.9rem;
            font-weight: bold;
            font-size: 0.8125rem;
            line-height: 1.56;
            letter-spacing: 0.01rem;

            span {
                font-weight: 400;
                color: $grayish-blue;
                font-size: 0.75rem;
                letter-spacing: 0.05rem;
            }
        }

        .btn-compartir {
            background: url('../images/icon-share.svg');
            background-repeat: no-repeat;
            background-position-x: 50%;
            background-position-y: 50%;
            background-color: $light-grayish-blue;

            width: 32px;
            height: 32px;
            border-radius: 50%;
            position: relative;
        }
    }
}

@media (min-width: 768px) {
    
    .componente-principal {
        display: flex;
        width: 45.625rem;
        height: 17.5rem;
        margin-top: 16.25rem;
        border-radius: 0.625rem;
    }

    .imagen {
        width: 17.8125rem; 
        height: 17.5rem;  
        overflow: hidden;
        position: relative;
    
        .imagen-principal {
            width: 17.8125rem;
            height: 17.5rem; 
            background-size: cover;
            position: absolute;
            top: 0px;
        }
    }
    
    .info {
        width: 27.8125rem;
        height: 17.5rem;
        padding: 2rem 2.5rem 2rem 2.5rem;
    
        .title {
            font-size: 1.25rem;
            line-height: 1.42;
            letter-spacing: 0.019rem;
            padding-bottom: 0.8125rem;
        }
    
        .descripcion {
            padding-bottom: 1.1875rem;
        }
    
        .autor {
    
            .autor-info {
                margin-left: -8.9rem;
            }
    
            .btn-compartir {
                background-position-x: 55%;
                background-position-y: 45%;
            }
            .compartir {
                height: 3.475rem;
                width: 15.5rem;  
                border-radius: 0.625rem;
                top: -5rem;
                left: 9rem;
                opacity: 0;  
                
                .enlaces {
                    margin-top: 1.2rem;
                }
            }
            .compartir::before {
                content: "";
                border: 10px solid $very-dark-grayish-blue;
                position: absolute;
                transform: rotate(45deg);
                top: 2.8rem;
                left: 12.2rem;
            }
            .activo {
                opacity: 1;
            }
        }
    }
}


// Frontend Mentor Styles
.attribution {
    font-size: 12px;
    text-align: center;
    padding-top: 0.5rem;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}